body {
	font-family: Helvetica;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: #000000;
}

a { text-decoration: none; }
a {color: white;}
a{text-shadow: 2px 2px #000000;}
a:hover { text-decoration: underline; }

li { list-style: none; }


}

.container {
	width: 780px;  
	background: #FFFFFF;
	margin: 0 auto; 
	border: 1px solid #000000;
	text-align: left;
}
.mainContent {
	padding: 0 20px; 
	color: #FFFFFF;
	font-family: Helvetica;
	background-image:url("images/dine.jpeg");
	
}

.welcome {
	color: #1C0000;
	padding: 1px;
	background-image:url("images/bg.jpg")
}

.intro{
	padding: 25px;
	column-count: 2;
	column-gap: 40px;
	column-rule-style: solid;
	column-rule-color: grey;
	column-rule-width: 1px;
	column-width: 600px;
}

h1{
	font-size: 50px;
	text-shadow: 2px 2px #FFCBC0;
}
h2{
	line-height: 25px;
	margin-bottom: 0px;
	padding-top: 25px;
}
p{
	margin-top: 50px;
	line-height: 25px;
	margin-top: 10px;

}
