body {
	font-family: Helvetica;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: #000000;
}

a { text-decoration: none; }
a {color: white;}
a{text-shadow: 2px 2px #000000;}
a:hover { text-decoration: underline; }

li { list-style: none; }


}

.container {
	width: 780px;  
	background: #FFFFFF;
	margin: 0 auto; 
	border: 1px solid #000000;
	text-align: left;
}
.mainContent {
	padding: 0 20px; 
	color: #FFFFFF;
	font-family: Helvetica;
	background-image:url("images/dine.jpeg");
	
}

.title{
	color: #1C0000;
	padding: 1px;
	background-image:url("images/brick.jpg")
}

.collage{
	padding-top: 40px;
	padding-bottom: 75px;
	padding-left: 10px;
	padding-right: 20px;
	column-count: 2;
	column-gap: 25px;
	column-rule-style: solid;
	column-rule-color: grey;
	column-rule-width: 1px;
	column-fill: auto;
}

.element{
	padding: 25px;
	column-count: 2;
	column-gap: 40px;
	column-rule-style: solid;
	column-rule-color: grey;
	column-rule-width: 1px;
	column-fill: auto;
	column-width: 300px;
}
.mood{
	padding: 25px;
	padding-right: 25px;
}
.pinterest{
	padding: 25px;
	padding-top: 0px;
}
.houzz{
	padding: 25px;
	padding-top: 0px;
}
h1{
	font-size: 45px;	
	text-shadow: 2px 2px #366E33;
}
h2{
	color: #6A4242;
}

h3{
	font-size: 30px;
}
h4{
	font-family: Helvetica;
	line-height: 25px; 
	color: #5A5258;
}

